test/*
sra/*
workflow/logs/*
workflow/logs_slurm/*
workflow/notebooks/.ipynb_checkpoints/
workflow/scripts/*pycache*
.snakemake/*
.nextflow*
.nextflow/*
.env
results/data/local/
workflow/notebooks/__pycache__/
results/data/local/testlocal1/
results/data/local/testlocal2/
docs/results/latest/test/
*.obj
*.bak

# Snakemake Large Files
results/data/*
results/eager/*
results/snippy_pairwise/*

# Phylogeny
results/iqtree/*/*ckp.gz
results/iqtree/*/*uniqueseq*

# Snippy Multi Alignments
results/snippy_multi/*/*.aln*
results/snippy_multi/*/*ref.fa

# Plotting
results/qualimap/*/*/*.bam
results/multiqc/*/multiqc_data/*
