test/*
sra/*
workflow/logs/*
workflow/logs_slurm/*
workflow/notebooks/.ipynb_checkpoints/
workflow/scripts/*pycache*
.snakemake/*
.nextflow*
.nextflow/*
.env
results/data/local/
workflow/notebooks/__pycache__/
results/data/local/testlocal1/
results/data/local/testlocal2/
docs/results/latest/test/
*.bak

# Shared Files/Database
results/data/*
results/detect_low_complexity/*
results/detect_repeats/*
results/detect_snp_density/*
results/eager/*
results/iqtree/*
results/locus_coverage/*
results/logs/*
results/metadata/*
results/multiqc/*
results/report/*
results/snippy_multi/*
results/snippy_pairwise/*
results/qualimap/*
results/parse_tree/*
results/clock/*
results/mugration/*
results/geo/*

# Project
project/*/iqtree/*/*ckp.gz
project/*/iqtree/*/*uniqueseq*
project/*/iqtree/*/*filter50*

# Snippy Multi Alignments
project/*/snippy_multi/*/*.aln*
project/*/snippy_multi/*/*ref.fa

# Plotting
project/*/qualimap/*
project/*/multiqc/*/multiqc_data/*

# Projects to Ignore
project/test/data/
project/main/logs/
