work/*
results*/*
test*/*
src/*
.nextflow*
ncbimeta.yaml*
pipeline.pdf*
report.html*
timeline.html*
trace.txt*
nextstrain/*vcf
nextstrain/*nwk
nextstrain/*.txt
nextstrain/test150/*
morelli2010/*
cui2013/*
