/*
 * -------------------------------------------------
 *  Plague Pipeline NextFlow Config File
 * -------------------------------------------------
 * Default Configuration options
 */

// Global Default Parameters
params{
  version = false
  help = false

  // Path to ncbimeta yaml config and db
  ncbimeta_create = false
  ncbimeta_update = false
  sqlite = false

  // Output directory default
  outdir = "$baseDir/results"
  // Scripts directory
  scriptdir = "$baseDir/scripts"

  // Skip processes
  skip_ncbimeta_db_create = false
  skip_ncbimeta_db_update = false
  skip_sqlite_import = false
  skip_assembly_download = false
  skip_reference_download = false
  skip_snippy_pairwise = false
  skip_snippy_variant_summary = false
  skip_reference_detect_repeats = false
  skip_reference_detect_low_complexity = false

  // Other to be sorted
  max_datasets = 100

}

// Manifest and publishing
manifest {
  name = 'Plague Pipeline'
  author = 'Katherine Eaton'
  homePage = 'https://github.com/ktmeaton/paper-phylogeography'
  version = '0.1.0'
  description = 'Plague Phylogeography Pipeline'
  mainScript = 'pipeline.nf'
  nextflowVersion = '>=20.01.0'
}

// Process
//process.conda = "$baseDir/phylo-env.yaml"
