/*
 * -------------------------------------------------
 *  Plague Pipeline NextFlow Config File
 * -------------------------------------------------
 * Default Configuration options
 */

// Global Default Parameters
params{
  version = false
  help = false

  // Path to sqlite db
  params.sqlite = false

  // Output directory default
  outdir = '$baseDir/results'
  // Scripts directory

  // Skip processes
  skip_sqlite_import = false
  skip_assembly_download = false
  skip_snippy_pairwise = false
  skip_snippy_variant_summary = false
  skip_reference_detect_low_complexity = false

  // NCBImeta
  ncbimeta_config_yaml = false

}

// Manifest and publishing
manifest {
  name = 'Plague Pipeline'
  author = 'Katherine Eaton'
  homePage = 'https://github.com/ktmeaton/paper-phylogeography'
  version = '0.1.0'
  description = 'Plague Phylogeography Pipeline'
  mainScript = 'pipeline.nf'
  nextflowVersion = '>=20.01.0'
}

// Process
process {
  conda = "$baseDir/phylo-env.yaml"
}
