{
  "title": "Plague Phylogeography",
  "build_url": "https://github.com/ktmeaton/plague-phylogeography",
  "maintainers": [
    {
      "name": "Katherine Eaton",
      "url": "https://ktmeaton.github.io"
    }
  ],
  "colorings": [
    {
      "key": "alrt",
      "title": "SH-aLRT",
      "type": "continuous"
    },
    {
      "key": "biosample",
      "title": "Data Accession",
      "type": "categorical"
    },
    {
      "key": "biovar",
      "title": "Biovar",
      "type": "categorical"
    },
    {
      "key": "branch_major",
      "title": "Branch Major",
      "type": "categorical"
    },
    {
      "key": "branch_minor",
      "title": "Branch Minor",
      "type": "categorical"
    },
    {
      "key": "country",
      "title": "Country",
      "type": "categorical"
    },
    {
      "key": "countrylon",
      "title": "Country Lon",
      "type": "continuous"
    },
    {
      "key": "countrylat",
      "title": "Country Lat",
      "type": "continuous"
    },
    {
      "key": "date",
      "title": "Collection Date",
      "type": "continuous"
    },
    {
      "key": "datebp",
      "title": "Collection Date (BP)",
      "type": "continuous"
    },
    {
      "key": "mugration_biovar",
      "title": "Biovar (Estimate)",
      "type": "categorical"
    },
    {
      "key": "mugration_branch_major",
      "title": "Branch Major (Estimate)",
      "type": "categorical"
    },
    {
      "key": "mugration_branch_minor",
      "title": "Branch Minor (Estimate)",
      "type": "categorical"
    },
    {
      "key": "mugration_country",
      "title": "Country (Estimate)",
      "type": "categorical"
    },
    {
      "key": "mugration_province",
      "title": "Province (Estimate)",
      "type": "categorical"
    },
    {
      "key": "province",
      "title": "Province",
      "type": "categorical"
    },
    {
      "key": "provincelon",
      "title": "Province Lon",
      "type": "continuous"
    },
    {
      "key": "provincelat",
      "title": "Province Lat",
      "type": "continuous"
    },
    {
      "key": "strain",
      "title": "Strain",
      "type": "categorical"
    },
    {
      "key": "ufboot",
      "title": "Ultrafast Bootstrap",
      "type": "continuous"
    }
  ],
  "filters": [
    "country",
    "province",
    "biovar",
    "branch_major",
    "branch_minor"
  ],
  "panels": [
    "tree",
    "map",
    "entropy"
  ]
}
