/*
 * -------------------------------------------------
 *  nf-core/eager Nextflow custom file
 * -------------------------------------------------
*/

process {
  cpus = params.max_cpus
  memory = params.max_memory
  time = params.max_time
  maxForks = 1 // run jobs serially

  errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
  maxRetries = 1
  maxErrors = '-1'

  withName:qualimap{
    errorStrategy = 'ignore'
  }

  withName:preseq {
    errorStrategy = 'ignore'
  }

  withName:damageprofiler {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'ignore' : 'retry' }
  }

  // Add 1 retry for certain java tools as not enough heap space java errors gives exit code 1
  withName: dedup {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
  }

  withName: markduplicates {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'finish' }
  }

  // Add 141 ignore due to unclean pipe closing by pmdtools https://github.com/pontussk/PMDtools/issues/7
  withName: pmdtools {
    errorStrategy = { task.exitStatus in [141] ? 'ignore' : 'retry' }
  }

  withName: multiqc {
    errorStrategy = { task.exitStatus in [143,137] ? 'retry' : 'ignore' }
  }
}

executor{
  $local{
    cpus = params.max_cpus
    memory = params.max_memory
    time = params.max_time
    queueSize = 1 // run processes serially
  }
}
